/* reseteo valores por defecto del html*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* aplico estilos (fijada arriba) al header */
header {
	position: sticky;
	top:0;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: beige;
}

/* aplico estilos a la lista de la barra de navegacion*/
.menu {
	list-style: none;
	display: inline-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 0;
	padding: 0;
}

.menu a{
	text-decoration: none;
	color:black solid;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px 20px;
	font-weight: bold;
}
.menu a:hover{
	background-color: black;
	color:white;
}

/* secciones con alto del 100% de la pagina*/
section {
	height: 100vh;
}

/* aplico estilos de color de fondo y centro en columnas los h1 y h2 de la seccion resumen*/
section#resumen {
	background-color: aquamarine;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section#resumen h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
	align-items: center;
}

section#resumen h2 {
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
}
/** **************************************************************************************** */

/* aplico estilos de color de fondo y centro en columnas los h1 y h2 del div lista-proyectos*/
section#proyectos {
	background-color: #F4A460;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
}
section#proyectos h2 {	
	padding-top: 30px;
	font-size: 	text-align: center;
	font-weight: bold;
}

.lista-proyectos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.detalle-proyecto {
	width: 400px;
	border: 2px solid crimson;
	border-radius: 4px;
	margin: 20px;
	col-sm-12;
	col-md-4;
	
}
/* el ancho de la imagen ocupara el 100% de la caja*/

.detalle-proyecto img {
	width: 100%;
}


/** ************************************************************************* */
section#contacto {
	background-color: #DDA0DD;
}
section#contacto h2 {
	padding-top: 30px;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
}
/* aplico estilos a la seccion del formulario  */
.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 2 rem;
    font-aling:center;
}
.container-form p{
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 15px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}